$black: rgba(80, 81, 79, 1);
$diff-black: rgba(33, 33, 33, 0.33);
$blackest: rgba(33, 33, 33, 1);
$red: rgba(242, 95, 92, 1);
$yellow: rgba(255, 224, 102, 1);
$blue: rgba(36, 123, 160, 1);
$green: rgba(112, 193, 179, 1);
$white: rgba(245, 245, 245, 1);
$sm: 768px;
$md: 992px;
$lg: 1200px;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    color: $black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    &.modal-opened {
        overflow: hidden;
    }
}

header {
    padding: 20px;
    height: 68px;
    background-color: $blue;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    .add-song {
        width: 42px;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
    }
}

nav {
    color: $white;
    text-align: center;
    background-color: $red;
    border-radius: 0 0 2px 0;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 14px 8px;
            display: inline-block;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
            @media screen and (min-width: $md) {
                display: block;
                text-align: right;
            }
            &.active {
                font-weight: bold;
            }
        }
    }
}

footer {
    flex-shrink: 0;
    color: $white;
    text-align: center;
    background-color: $black;
    height: 100px;
    width: 100%;
    padding: 32px;
    a {
        color: $white;
        font-weight: bold;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;
    &-wrap {
        width: 50%;
        margin: 0 auto;
    }
    input[type="text"] {
        height: 32px;
        border-radius: 4px;
        box-shadow: none;
        border: 1px solid $diff-black;
        font-size: inherit;
        color: inherit;
        padding-left: 6px;
    }
    .checkbox {
        background: white;
        border: 1px solid $diff-black;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        position: relative;
        input[type=checkbox] {
            visibility: hidden;
        }
        label {
            position: absolute;
            top: 0;
            z-index: 1;
            display: block;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            margin: 3px;
            cursor: pointer;
        }
        input[type=checkbox]:checked+label {
            background: $blue;
        }
    }
    &.sm {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input[type="text"] {
            width: 55px;
        }
    }
}

.body-content {
    flex: 1 0 auto;
}

.hide {
    display: none;
}

#song-template {
    display: none;
}

.plus-icon {
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    &:after {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        height: 32px;
        width: 4px;
        top: 19px;
        bottom: 0;
        left: 20px;
    }
    &:before {
        content: " ";
        position: absolute;
        display: block;
        background-color: #fff;
        width: 34px;
        height: 4px;
        left: 4px;
        right: 0;
        top: 34px;
    }
}

.close-icon {
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 32px;
        width: 2px;
        background-color: $black;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.playlist {
    padding: 8px 10px;
    .song {
        background-color: $black;
        color: $white;
        margin: 2px auto;
        padding: 8px;
        display: table;
        width: 100%;
        border-radius: 2px;
        .details {
            text-align: center;
            @media screen and (min-width: $sm) {
                text-align: left;
            }
        }
        .artist {
            font-weight: bold;
        }
        .album {
            font-size: 13px;
        }
        .controls {
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            .length,
            .duration {
                position: relative;
                top: -2px;
            }
            .duration::after {
                content: " -"
            }
        }
    }
}

.btn {
    cursor: pointer;
    border: none;
    box-shadow: 1px 0 1px $blackest;
    cursor: pointer;
    &-circle {
        border-radius: 100%;
    }
    &-primary {
        background: $white;
    }
    &-invi {
        background: transparent;
    }
    &:hover {
        box-shadow: 0 0 2px $white;
    }
    &.play,
    &.pause,
    &.restart {
        width: 32px;
        height: 32px;
    }
    &.options {
        width: 32px;
        height: 52px;
        transform: rotate(90deg);
        box-shadow: none;
        position: relative;
        &:after {
            content: "\2807";
            font-size: 42px;
            color: $white;
            position: absolute;
            left: 6px;
            right: 0;
            top: 0;
            bottom: 0;
            text-shadow: 1px 0 1px $blackest;
        }
        &:hover {
            &:after {
                text-shadow: 0 0 2px $white;
            }
        }
    }
    svg {
        width: 100%;
        height: 100%;
    }
    &.dot {
        width: 2px;
        height: 2px;
    }
}

.text {
    &-c {
        text-align: center;
    }
    &-r {
        text-align: right;
    }
    &-l {
        text-align: left;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $diff-black;
    overflow-y: auto;
    &.opened {
        display: block;
    }
    &-wrapper {
        position: relative;
        top: 68px;
        background-color: $white;
        margin: auto;
        padding: 20px;
        width: 100%;
        @media screen and (min-width: $sm) {
            width: 80%
        }
        @media screen and (min-width: $md) {
            width: 50%
        }
        .modal-header {
            width: 100%;
            height: 42px;
            position: relative;
            border-bottom: 1px solid $black;
            h3 {
                display: inline;
                line-height: 42px;
            }
        }
        .close {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }
    &-content {
        margin: 16px 0;
    }
    .btn-submit {
        width: 50%;
        padding: 8px 12px;
        border-radius: 5px;
        background: $blue;
        color: white;
        &.sm {
            width: 45%;
        }
    }
    .btn-remove {
        width: 50%;
        padding: 8px 12px;
        border-radius: 5px;
        background: $red;
        color: white;
        &.sm {
            width: 45%;
        }
    }
}

#message {
    color: $white;
    padding: 20px;
    border-radius: 6px;
    position: fixed;
    top: 4px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: auto;
    z-index: 9999;
    &.success {
        background: $green;
    }
    &.error {
        background: $red;
    }
}

// LAYOUT
[class*="col-"] {
    position: relative;
    float: left;
    min-height: 1px;
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

@media (min-width: $sm) {
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
}

@media (min-width: $md) {
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
}

@media (min-width: $lg) {
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
}